$transition: 1.5s;
$slide_px: 40px;

//トランジションの秒数
.transition {
  transition: all $transition;
}

  @function slideFrom($direction) {
  @if $direction == top {
    @return translateY($slide_px * -1);
  }
  @else if $direction == right {
    @return translateX($slide_px);
  }
  @if $direction == bottom {
    @return  translateY($slide_px);
  }
  @if $direction == left {
    @return translateX($slide_px * -1);
  }
}

.fade {
  @extend .transition;
  opacity: 0;
  transform: slideFrom(bottom);

  &.is_scrolled {
    @extend .transition;
    opacity: 1;
    transform: translate(0);
  }
}

.button_hovered {
  font-size: 100%;
  color: #000;
}
