//レスポンシブ用の画面サイズブレイクポイント
$breakpoint: 768px;

//モバイル版scssを定義する際のmixin
@mixin screen-mobile {
  @media screen and (max-width: $breakpoint - 1) {
    @content;
  }
};

//header
$header_background_color: #333;
$header_text_color: #ffffff;
