//レスポンシブ用の画面サイズブレイクポイント
$breakpoint: 768px;

//モバイル版scssを定義する際のmixin
@mixin screen-mobile {
  @media screen and (max-width: $breakpoint - 1) {
    @content;
  }
};

$transparent: rgba(0,0,0,0);

//header
$header_height: 10vh;
$header_background_color: #333;
$header_font_color: #ffffff;

//footer
$footer_height: 20vh;
$footer_background_color: #333;
$footer_font_color: #ffffff;

//index
$index_top_font_color: #ffffff;
$index_top_font_size: 24px;
$index_message_height: 40vh;
$index_message_text_align: center;

//SNS
$sns_color: #cccccc;
$sns_size: 5vh;
$sns_margin: ($footer_height - $sns_size) / 2;
